html{
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }

body{
    background: #15161E;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}

ul {
    list-style-type:  none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
    color: #E0E4E7;
}

.main{
    background-image: url('../img/main-fon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.main__container-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 160px;
    align-items: center;
}

.container-menu__logo{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.container-menu__menu{
    display: flex;
}

.menu__item-menu{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;

}

.menu__item-menu+.menu__item-menu{
    padding-left: 16px;
}



.burger-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #15161E;
}

.menu a {
    font-family: "Inter";
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.burger-icon{
    display: none;
}






.main__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 231px;
}

.header__above-title-box{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__above-title-box-line{
    text-align: center;
}

.header-title{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header__title-box{
    margin-bottom: 4px;
}

.header__subtitle{
    margin-bottom: 65px;
}

.header__btn{
    width: 147px;
    height: 39px;
    border-radius: 25px;
    background: #255A9C;
    border: none;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.heder-title__rpide{
    color: #255A9C;
    font-family: 'Oswald';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header__subtitle{
    color: #FFA500;
    text-align: center;
    font-family: 'Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__title-padding{
    padding-top: 30px;
}

.section__title{
    position: relative;
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.section__title::after{
    position: absolute;
    content: "";
    left: -1200px;
    top: 50%;
    width: 100%;
    height: 1px;
    background: rgba(224, 228, 231, 0.16);

}

/* .section__title::before{
    position: absolute;
    content: "";
    left: 500px;
    top: 50%;
    width: 100%;
    height: 1px;
    background: rgba(224, 228, 231, 0.16);

} */

.section__title-r-line{
    position: relative;
}

.section__title-r-line::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 1px;
    background: rgba(224, 228, 231, 0.16);
    top: 50%;
    right: 0;
}


.section__subtitle{
    margin-top: 10px;
    color: rgba(224, 228, 231, 0.87);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 72px;
}

.oner-link{
    text-decoration: none;
}

.directions__items{
    display: flex;
    justify-content: center;
}

.directions__item{
    position: relative;
    width: 380px;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.directions__item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(7, 7, 7, 0.4);
}

.overlay{
    color: #E0E4E7;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 999;
    margin-top: 18px;
    margin-left: 20px;
}

.text-bottom{
    writing-mode: vertical-lr;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
    margin-bottom: 20px;
    margin-left: 18px;
}

.directions{
    padding-bottom: 90px;
}

.directions__item-img-1{
    background-image: url('../img/Rectangle5.jpg');
    transition: transform 0.6s;
}

.directions__item-img-2{
    background-image: url('../img/Rectangle25.jpg');
    transition: transform 0.6s;
}

.directions__item-img-3{
    background-image: url('../img/33.jpg');
    transition: transform 0.6s;
}

.directions__item:hover{
    transform: scale(1.07);
    z-index: 1;
}

.values{
    background: #15161E;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.values__fon{
    background-image: url('../img/foncen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.values__shadow-top{
    background: linear-gradient(180deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 41px;
    width: 100%;
}

.values__shadow-bottom{
    position: relative;
    background: linear-gradient(0deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 41px;
    width: 100%;
    z-index: 50;
}

.values__items-box{
    display: grid;
    row-gap: 56px;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

.values__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 165, 0, 0.53);
    max-width: 244px; 
    padding: 20px;
}

.values__item-title{
    color: #FFA829;
    text-align: center;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.values__item-text{
    color: rgba(224, 228, 231, 0.80);
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.values__item-3{
    transform: translateY(-51px); 
}

.values__item-1{
    transform: translateY(-34px); 
}

.values__item-4{
    transform: translate(20px, -22px);
    padding-left: 50px;
    padding-right: 50px;
}



.values__item-6{
    transform: translateY(-15px); 
}

.agency-numbers{
    background-image: url('../img/fonce.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.agency-numbers__main-blok{
    display: flex;
    margin-top: 50px;
}

.agency-numbers__text-blok{
    margin-top: 100px;
}


.agency-numbers__image{
    margin-right: 26px;
    transform: translateY(41px);
    max-width: 559px;
    width: 100%;
}

.text-blok__title{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-block__btl{
    color: #FFA829;
}

.text-block__event{
    color: #99C7DE;
}

.text-blok__subtitle{
    color: #FFF;
    font-family: 'Inter';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.text-blok__btn{
    border: none;
    border-radius: 25px;
    background: #FFA829;
    color: #15161E;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 30px;
    cursor: pointer;
}

.geo-fon{
    background-image: url('../img/geofon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.values__shadow-geo{
    background: linear-gradient(180deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 40px;
    width: 100%;
}

.geography-of-work__conatainer{
    margin-top: 50px;
}

.geography-of-work__box{
    display: flex;
    justify-content: space-between;
}

.geography-of-work__title{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 0px;
}

.geography-of-work__cyties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 13px;
}

.geography-of-work__item{
    display: flex;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 25px;
    align-items: center;
}

.geography-of-work__item-point::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 165, 0, 0.97);
    box-shadow: 0px 0px 15px rgba(255, 165, 0, 0.50);
    left: 0;
}


.advantages__container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.advantages_title{
    color: rgba(21, 22, 30, 0.87);
    font-family: "Oswald";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.advantages__container-box{
    display: flex;
    background-image: url('../img/preimg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 361px;
    min-height: 358px;
    align-items: center;
    justify-content: center;
}

.advantages__right{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
    align-items: self-start;
    max-width: 680px;
    column-gap: 20px;
}

.advantages__item{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__icon{
    max-width: 100%;
    height: auto;
}

.advantages__item-text{
    color: #F1F1F1;
    text-align: center;
    font-family: "Oswald";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    line-height: 30px;
}

.reviews{
    padding-top: 30px;
    padding-bottom: 110px;
}

.reviews__slider{
    padding-top: 50px;
    text-align: center;
}

.reviews-slider__item{
    height: 520px;
}

.slider__item-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1;
    color:#E0E4E7
}

.slick-slide {
    margin: 0 20px;
}

.slick-dots li button:before{
    font-size: 20px;
}

.slick-track{
    margin-bottom: 30px;
}

.slick-dots li button:before{
    color: #E0E4E7;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
    color: #FFA500;
    opacity: 1;
}

.footer{
    border-top: 1px solid rgba(224, 228, 231, 0.16);
    padding-bottom: 60px;
}

.footer__main-content{
    display: flex;
    justify-content: space-between;
}

.footer__text{
    width: 407px;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    line-height: 20px;
    margin-bottom: 40px;
}

.footer__header{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer__social{
    margin-bottom: 30px;
}

.footer__contacts-text{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__form-header{
    padding-top: 80px;
    margin-bottom: 30px;
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer__form{
    display: flex;
    flex-direction: column;
}

.footer__form-input{
    margin-bottom: 12px;
    outline: none;
    padding: 5px;
    color: #202020;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer__form-textarea{
    margin-bottom: 18px;
    outline: none;
    padding: 5px;
    color: #202020;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer__form-btn{
    border-radius: 25px;
    background: #255A9C;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    align-self: flex-start;
    outline: none;
    padding: 9px 33px;
    border: none;
    cursor: pointer;
}

.modal-window__container{
    background-color:  rgba(21, 22, 30, 0.80);


    ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 30px 0;
}

.modal-window__box{
    position: relative;
    background-image: url('../img/fon-modalwin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 750px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    animation: slideIn 0.5s ease-in-out;
}

.modal-window__close-btn{
    position: absolute;
    right: 122px;
    top: 41px;
    cursor: pointer;
    
}

.modal-window__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    width: 100%;
}

.modal-window__text{
    color: #FFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11);
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modal-window__form-input{
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #313131;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
}

.modal-window__form-textarea{
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #313131;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
}

.modal-window__form-btn{
    border-radius: 25px;
    background: #FFF;
    color: #FFA500;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    padding: 9px 30px;
    cursor: pointer;
    align-self: start;
}

.disable{
    display: none;
}

.advantages__items{
    margin: 0;
    margin-top: 60px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.advantages__item-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__item-box-img{
    position: relative;
    overflow: hidden;
}

.advantages__item-img{
    display: block;
    width: 100%;
    max-width: 100%; /* Добавлено для контроля ширины */
    height: auto;
    max-height: 100%; /* Добавлено для контроля высоты */
    object-fit: cover;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }

  .myModalBtl{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumb-box{
    max-height: 400px;
  }

  .thumbnail {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .modalBtl {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modalBtl-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }

  .closeBtl {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .button__box{
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;justify-content: center;
  }

  .main_pad{
    margin-bottom: 70px;
  }

@media (max-width: 1024px) {
    .values__items-box{
        margin: 0;
        margin-top: 80px;
    }

    .values__items-box{
        justify-content: space-between;
        row-gap: 40px;
    }

    .values__item{
        margin: 0;
    }

    .geography-of-work__map-rnd{
        max-width: 450px;
        width: 100%;
    }

    .geography-of-work__title{
        margin-top: 0;
        font-size: 2vw;
    }

    .geography-of-work__item{
        font-size: 18px;
    }

    .modal-window__form{
        height: 447px;
    }
    
    .agency-numbers__image{
        max-width: 417px;
        width: 100%;
    }
    .text-blok__title{
        font-size: 3vw;
    }
    .text-blok__subtitle{
        font-size: 2vw;
    }
    .section__title{
        font-size: 3.4vw;
    }
    .geography-of-work__box{
        justify-content: space-around;
    }
    .slick-slide {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .header-title, .heder-title__rpide{
        font-size: 32px;
    }
    .header__subtitle{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .section__subtitle{
        margin-bottom: 50px;
        font-size: 14px;
    }
    .directions__item{
        height: 356px;
    }
    .overlay{
        font-size: 20px;
    }
    .text-bottom{
        font-size: 12px;
    }
    .text-blok__title{
        margin-bottom: 10px;
    }
    .text-blok__subtitle{
        margin-bottom: 10px;
    }
    .text-blok__btn {
        font-size: 12px;
    }

    .values__items-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .values__item{
        margin: 0;
        padding: 10px;
        transform: translate(0, 0);
        width: 100%;
    }
    .advantages__icon{
        width: 40%;
    }
    .advantages__item-text{
        font-size: 14px;
        line-height: 20px;
    }
    .footer__form-header{
        font-size: 16px;
    }
    .footer__text{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .footer__header{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .footer__contacts-text{
        font-size: 12px;
    }
    .footer__social-icon{
        max-width: 40px;
    }
    .footer__form-header{
        padding: 0;
        padding-top: 10px;
    }
    .footer__form-input{
        font-size: 12px;
    }
    .footer__form-btn{
        font-size: 12px;
    }
    .modal-window__box{
        max-width: 593px;
    }
    .modal-window__text{
        margin: 0;
    }
    .modal-window__close-btn {
        right: 70px;
        top: 60px;
    }
    .geography-of-work__conatainer{
        margin-top: 30px;
    }
    .geography-of-work__map-rnd{
        max-width: 350px;
    }
    .geography-of-work__cyties{
        column-gap: 20px;
    }
    .geography-of-work__item{
        font-size: 11px;
    }
    #gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .logo{
        max-width: 75px;
    }
    .menu__item-menu{
        font-size: 12px;
    }
    .agency-numbers__image{
        max-width: 250px;
    }
    .agency-numbers__main-blok{
        margin-top: 0;
    }
    .agency-numbers__text-blok{
        margin-top: 70px;
    }
    .geography-of-work__map-rnd{
        max-width: 250px;
    }
    .footer__main-content{
        flex-direction: column;
        row-gap: 40px;
    }
    .footer__main-content-right{
        order: 1;
    }
    .footer__main-content-left{
        order: 2;
    }
    .footer__form{
        max-width: 400px;
    }
    .footer__text{
        width: auto;
    }
}

@media (max-width: 545px) {
    .advantages__items{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "item1 item2"
        "item4 item3"
        "item5 item6"
        "item8 item7"
        "item9 item10"
        "item12 item11"
        "item13 item14";
    }

    .advantages__item-1{
        grid-area: item1;
    }
    .advantages__item-2{
        grid-area: item2;
    }
    .advantages__item-3{
        grid-area: item3;
    }
    .advantages__item-4{
        grid-area: item4;
    }
    .advantages__item-5{
        grid-area: item5;
    }
    .advantages__item-6{
        grid-area: item6;
    }
    .advantages__item-7{
        grid-area: item7;
    }
    .advantages__item-8{
        grid-area: item8;
    }
    .advantages__item-9{
        grid-area: item9;
    }
    .advantages__item-10{
        grid-area: item10;
    }
    .advantages__item-11{
        grid-area: item11;
    }
    .advantages__item-12{
        grid-area: item12;
    }
    .advantages__item-13{
        grid-area: item13;
    }
    .advantages__item-14{
        grid-area: item14;
    }
    .advantages__item-15{
        display: none;
        grid-area: item15;
    }
}

@media (max-width: 485px) {
    .main{
        background-position: right;
    }
    .container-menu__menu{
        display: none;
    }
    .burger-icon {
        display: block;
    }

    .menu {
        display: none;
    }
    .agency-numbers__image {
        max-width: 170px;
    }
    .values__items-box{
        margin-top: 30px;
    }
    .values__item {
        max-width: 170px;
    }
    .values__item-title{
        font-size: 11px;
    }
    .values__item-icon{
        max-width: 80px;
        margin-bottom: 10px;
    }
    .values__item-text{
        font-size: 11px;line-height: 16px;
    }
    .text-blok__btn{
        font-size: 10px;
        padding: 7px 15px;
    }
    .geography-of-work__item-point::before{
            width: 10px;
            height: 10px;
    }
    .geography-of-work__item{
        padding-left: 15px;
    }
    .geography-of-work__map-rnd {
        max-width: 200px;
    }
    #gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 420px) {
    .main{
        height: 77vh;
    }
    .main__header{
        background-position: 0px;
        margin-bottom: 0;
    }
    .main__container-menu{
        margin-bottom: 96px;
    }
    .header__above-title-box{
        font-size: 14px;
    }
    .header-title, .heder-title__rpide{
        font-size: 24px;
    }
    .header__subtitle{
        font-size: 14px;
    }
    .header__btn{
        font-size: 11px;
        width: 110px;
        height: 33px
    }
    .section__subtitle {
        margin-bottom: 30px;
        font-size: 12px;
    }
    .directions{
        padding-bottom: 0;
    }
    .directions__item {
        height: 220px;
    }
    .overlay {
        font-size: 14px;
        margin-top: 6px;
        margin-left: 9px;
    }
    .text-bottom {  
        font-size: 7px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .section__title-padding {
        padding-top: 30px;
    }
    .values__items-box {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .values__item {
        max-width: 220px;
    }
    .advantages__icon {
        width: 30%;
    }
    .advantages__item-text {
        font-size: 9px;
        line-height: 13px;
        max-width: 100px;
    }
    .reviews{
        padding-bottom: 60px;
    }
    .slick-dotted.slick-slider{
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .slider__item-img {
        height: 76%;
    }
    .slick-list{
        height: 410px;
    }
    .geography-of-work__item {
        font-size: 9px;
    }
    .geography-of-work__title{
        font-size: 2.7vw;
        margin-bottom: 20px;
    }
    .text-blok__btn{
        font-size: 2vw;
    }
    .footer__form-header {
        font-size: 3.4vw;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

