.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }

body{
    background: #15161E;
    overflow-x: hidden;
}

textarea{
    resize: none;
}

ul {
    list-style-type:  none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
    color: #E0E4E7;
}

.main{
    background-image: url('../img/main-fon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.main__container-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 160px;
    align-items: center;
}

.container-menu__logo{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.container-menu__menu{
    display: flex;
}

.menu__item-menu{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.menu__item-menu+.menu__item-menu{
    padding-left: 16px;
}

.main__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 231px;
}

.header__above-title-box{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__above-title-box-line{
    text-align: center;
}

.header-title{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header__title-box{
    margin-bottom: 4px;
}

.header__subtitle{
    margin-bottom: 65px;
}

.header__btn{
    width: 147px;
    height: 39px;
    border-radius: 25px;
    background: #255A9C;
    border: none;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.heder-title__rpide{
    color: #255A9C;
    font-family: 'Oswald';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header__subtitle{
    color: #FFA500;
    text-align: center;
    font-family: 'Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.section__title{
    margin-top: 60px;
    position: relative;
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* .section__title::before{
    content: "";
    position: absolute;
    width: 96%;
    height: 1px;
    background: rgba(224, 228, 231, 0.16);
    top: 50%;
    left: -100%;
} */

/* .section__title::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 1px;
    background: rgba(224, 228, 231, 0.16);
    top: 50%;
    right: -140%;
} */


.section__subtitle{
    margin-top: 10px;
    color: rgba(224, 228, 231, 0.87);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 72px;
}

.directions__items{
    display: flex;
    justify-content: center;
}

.directions__item{
    position: relative;
    width: 380px;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.directions__item::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(7, 7, 7, 0.4);
}

.overlay{
    color: #E0E4E7;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 999;
    margin-top: 18px;
    margin-left: 20px;
}

.text-bottom{
    writing-mode: vertical-lr;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
    margin-bottom: 20px;
    margin-left: 18px;
}

.directions{
    margin-bottom: 90px;
}

.directions__item-img-1{
    background-image: url('../img/Rectangle5.jpg');
    transition: transform 0.6s;
}

.directions__item-img-2{
    background-image: url('../img/Rectangle25.jpg');
    transition: transform 0.6s;
}

.directions__item-img-3{
    background-image: url('../img/33.jpg');
    transition: transform 0.6s;
}

.directions__item:hover{
    transform: scale(1.07);
    z-index: 1;
}

.values{
    background: #15161E;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.values__fon{
    background-image: url('../img/foncen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.values__shadow-top{
    background: linear-gradient(180deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 41px;
    width: 100%;
}

.values__shadow-bottom{
    position: relative;
    background: linear-gradient(0deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 41px;
    width: 100%;
    z-index: 50;
}

.values__items-box{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -70px;
    margin-top: 70px;
}

.values__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 70px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 165, 0, 0.53);
    max-width: 244px;
    margin-bottom: 80px;    
}

.values__item-title{
    color: #FFA829;
    text-align: center;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.values__item-text{
    color: rgba(224, 228, 231, 0.80);
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.values__item-icon{
    max-width: 118px;
    margin-bottom: 8px;
}

.values__item-1{
    margin-bottom: 100px;
}

.values__item-2{
    margin-top: 22px;
}

.values__item-3{
    margin-bottom: 133px;   
}

.values__item-4{
    margin-left: 100px;
    margin-bottom: 127px;
}

.values__item-5{
    margin-top: 24px;
}

.values__item-6{
    margin-right: 120px;
    margin-bottom: 124px;
}

.agency-numbers{
    background-image: url('../img/fonce.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.agency-numbers__main-blok{
    display: flex;
    margin-top: 50px;
}

.agency-numbers__text-blok{
    margin-top: 100px;
}


.agency-numbers__image{
    margin-right: 26px;
    transform: translateY(41px);
}

.text-blok__title{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-block__btl{
    color: #FFA829;
}

.text-block__event{
    color: #99C7DE;
}

.text-blok__subtitle{
    color: #FFF;
    font-family: 'Inter';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.text-blok__btn{
    border: none;
    border-radius: 25px;
    background: #FFA829;
    color: #15161E;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 30px;
    cursor: pointer;
}

.geo-fon{
    background-image: url('../img/geofon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.values__shadow-geo{
    background: linear-gradient(180deg, #15161E 0%, rgba(21, 22, 30, 0.00) 100%);
    height: 40px;
    width: 100%;
}

.geography-of-work__box{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 200px;
}

.geo-title{
    padding: 0;
    margin: 40px 0 0 0;
}

.geography-of-work__title{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 90px;
}

.geography-of-work__cyties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 13px;
}

.geography-of-work__item{
    display: flex;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 25px;
    align-items: center;
}

.geography-of-work__item-point::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 165, 0, 0.97);
    box-shadow: 0px 0px 15px rgba(255, 165, 0, 0.50);
    left: 0;
}


.advantages__container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.advantages_title{
    color: rgba(21, 22, 30, 0.87);
    font-family: "Oswald";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.advantages__container-box{
    display: flex;
    background-image: url('../img/preimg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 361px;
    min-height: 358px;
    align-items: center;
    justify-content: center;
}

.advantages__right{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
    align-items: self-start;
    max-width: 680px;
    column-gap: 20px;
}

.advantages__item{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__item:nth-child(5){
    padding-right: 30px;
    width: 160px;
}

.advantages__item:nth-child(7){
    padding-left: 30px;
    width: 160px;
}

.advantages__item-img{
    width: 100px;
    margin-bottom: 10px;
}

.advantages__item-text{
    color: #F1F1F1;
    text-align: center;
    font-family: "Oswald";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    line-height: 30px;
}

.reviews{
    padding-top: 30px;
    padding-bottom: 110px;
}

.reviews__slider{
    padding-top: 50px;
}

.reviews-slider__item{
    height: 520px;
}

.slider__item-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slick-prev:before,
.slick-next:before {
    opacity: 1;
    color:#E0E4E7
    
}

.slick-dots li button:before{
    font-size: 20px;
}

.slick-track{
    margin-bottom: 30px;
}

.slick-dots li button:before{
    color: #E0E4E7;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
    color: #FFA500;
    opacity: 1;
}

.footer{
    border-top: 1px solid rgba(224, 228, 231, 0.16);
    padding-bottom: 60px;
}

.footer__main-content{
    display: flex;
    justify-content: space-between;
}

.footer__text{
    width: 407px;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    line-height: 20px;
    margin-bottom: 40px;
}

.footer__header{
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer__social{
    margin-bottom: 30px;
}

.footer__contacts-text{
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__form-header{
    padding-top: 80px;
    margin-bottom: 30px;
    color: #E0E4E7;
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer__form{
    display: flex;
    flex-direction: column;
}

.footer__form-input{
    margin-bottom: 12px;
    outline: none;
    padding: 5px;
    color: #202020;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer__form-textarea{
    margin-bottom: 18px;
    outline: none;
    padding: 5px;
    color: #202020;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer__form-btn{
    border-radius: 25px;
    background: #255A9C;
    color: #E0E4E7;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    align-self: flex-start;
    outline: none;
    padding: 9px 33px;
    border: none;
    cursor: pointer;
}

.modal-window__container{
    background-color:  rgba(21, 22, 30, 0.80);


    ;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 30px 0;
}

.modal-window__box{
    position: relative;
    background-image: url('../img/fon-modalwin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 750px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.modal-window__close-btn{
    position: absolute;
    right: 70px;
    top: 80px;
    cursor: pointer;
}

.modal-window__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
}

.modal-window__text{
    color: #FFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.11);
    font-family: 'Oswald';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modal-window__form-input{
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #313131;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
}

.modal-window__form-textarea{
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #313131;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
}

.modal-window__form-btn{
    border-radius: 25px;
    background: #FFF;
    color: #FFA500;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    padding: 9px 30px;
    cursor: pointer;
    align-self: start;
}

.disable{
    display: none;
}